.about_me_flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: none;
    border-right: none;
    justify-content: center;

    min-height: 100vh;
    /* with this part, setting the min-height and height auto fixes the problems of the flex overlapping other elements. */
    height: auto;

    & .about_me_info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 70px;

        & p {
            font-size: 20px;
            color: white;
            text-align: justify;
            max-width: 450px;
        }
    }

    & .about_me_languages {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 30%;
        min-width: 25%;

        & div {
            display: flex;
            align-items: center;
            justify-content: center;

            background: linear-gradient(to top, #636363a1 0%, #535353a1 0%, #3ef10800 100%);
            border: 3px solid transparent;
            border-image: linear-gradient(90deg, #ffbd42, #3ef108) 1;
            border-left: none;
            border-right: none;
            border-top: none;
            gap: 5px;
            padding: 10px;

            height: auto;
            width: 100%;

            & a {
                width: 100%;
                display: flex;
                justify-content: center;

                & img {
                    width: 70%;
                    transition: 0.3s;
                }
            }
        }

        & img:hover {
            transform: scale(1.1);
            /* when the about_me_images are hovered, we can scale them to have a little animation.*/
        }
    }
}

@media screen and (max-width: 850px) {

    .about_me_flex{

        & .about_me_info{
            & p{
                font-size: 17px; 
            }
        }
    }
}