/* main title*/
.main_title_flex {
    display: flex;
    /* we select the flex display, as this is very helpful for automatically sizing things and stuff.*/
    flex-direction: column;
    /* this is to put the items as column or as row. in this case we want this as row.*/
    align-items: center;
    /* we use align-items to align them horizontally.*/
    justify-content: center;
    /* we use justify content to align the content vertically.*/
    border: none;
    /* we don't want borders. */
    min-height: 100vh;
    height: auto;
    margin-top: 50px;
    /* we can use vh. this is so the page measures the size of the window and with this the page can automatically resize whenever it's resized. vh = viewport height. */
    /* in this case we use 100vh because it's the height of the viewport.*/
    gap: 20px;

    & .main_title {
        background: linear-gradient(to right, #ffbd42, #3ef108, #ffbd42);
        background-clip: text;
        color: transparent;
        background-size: 200% auto;
        font-size: 4rem;
        animation: main_title_gradient_animation 3s linear infinite;
        margin: 0;
    }
}



@keyframes main_title_gradient_animation {
    0% {
        background-position: 200% 50%;
    }

    100% {
        background-position: 0%, 50%;
    }

}

@media screen and (max-width: 850px) {

    .main_title_flex {
        & .main_title {
            font-size: 2.5rem;
        }
    }
}