.projects_flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: none;
    border-right: none;
    border-top: none;
}

.project {
    /* we can group classes and add attributes to them like this, so we don't have to add to every single group.*/
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
}

.projects_image_container {
    display: flex;
    flex-wrap: wrap;
    /* this allows for the content of the flex to break into different columns if it doesnt fit. */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    min-width: 80%;
    max-width: 80%;
    gap: 1vh;

    & img {
        width: auto;
        height: auto;
        max-width: 100%;
        border: 5px solid;
        border-right: none;
        border-left: none;
        border-top: none;
        border-image: linear-gradient(90deg, #ffbd42, #3ef108) 1;
        transition: 0.3s;
    }

    & img:hover {
        transform: scale(1.03);
        opacity: 0.7;
    }

    & a {
        max-width: 100%;
        min-width: 48%;
        width: 48%;
    }
}

.projects_text_container {
    display: flex;
    align-items: left;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;

    & a {
        text-decoration: none;
        max-width: 50%;

        & p {
            transform: scale(1.02);
            /* for some reason when using default scale(1.0) when scaling in the animation it looks weird. we use this to prevent that weird animation, assigning default scale to 1.02.*/
            border: 2px solid #333;
            border-image: linear-gradient(90deg, #ffbd42, #3ef108) 1;
            padding: 20px;
            color: white;
            font-size: 20px;
            transition: 0.3s;
            text-align: center;
        }

        & p:hover {
            transform: scale(1.1);
            opacity: 0.7;
        }
    }

    & p {
        font-size: 20px;
        text-align: justify;
        max-width: 300px;
        font-size: clamp(10px, 2vw, 20px);
    }
}